.container {
  max-width: 768px;
}

.container pre {
  display: inline;
  overflow-x: auto;
  padding: 0.5rem;
  /* background-color: #f4f4f4; */
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  max-width: 100%;
}
